html {
    background: #fbfafa;
}

#main-content {
    margin: 20px;
}

.action-item {
    position: relative;
    margin: 5px;
    max-width: 200px;
}

#editor {
    position: relative;
    border: 2px solid #ECE9E2;
    width: 100%;
    height: 90vh;
}
